@model GuildCars2.UI.ViewModel.HomeIndexVM



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
	<div>
		<div class="jumbotron">
			<div class="container text-center">
				<h1> Specials</h1>

				@foreach (var item in Model.Specials)
				{
				<div>
					<h3>
						@item.Title
					</h3>
					<p>
						@item.Description
					</p>
					@Html.ActionLink("Specials", "Specials", "Home", new { id = item.SpecialId }, new { @class = "btn btn-primary" })
				</div>
				}
			</div>

		</div>
		<h2>Featured Vehicles</h2>
		<div class="container-fluid bg-3 text-center">
			<div class="row">
				@foreach (var item in Model.Vehicles)
				{
				<div class="col-sm-3">
					<p>
						@item.Year
					</p>
					<p>
						@item.Make
					</p>
					<p>
						@item.Model
					</p>
					<p>
						@item.SalePrice
					</p>
					@Html.ActionLink("Details", "Details", "Inventory", new { id = item.VehicleId }, new { @class = "btn btn-primary" })
				</div>
				}
			</div>

		</div>
	</div>
</body>
</html>
