@model GuildCars2.UI.ViewModel.AdminVehiclesVM



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vehicle</title>
</head>
<body>
	<div>
		@using (Html.BeginForm("Vehicle", "Admin", FormMethod.Post))
		{
			<h1>Vehicles</h1>
			
			<fieldset>

				<div class="container">
					<div class="row">
						<label>Quick Search</label>
						@Html.TextBoxFor(m => m.Form.Input)

						<label>Price Min</label>
						@Html.DropDownListFor(m => m.Form.PriceMin, Model.PriceMin)
						<label>Price Max</label>
						@Html.DropDownListFor(m => m.Form.PriceMax, Model.PriceMax)

						<label>Year Min</label>
						@Html.DropDownListFor(m => m.Form.YearMin, Model.YearMin)
						<label>Year Max</label>
						@Html.DropDownListFor(m => m.Form.YearMax, Model.YearMax)
					</div>
				</div>

				<div class="form-group">
					<label class="col-md-4 control-label" for="search"></label>
					<div class="col-md-4">
						<button class="btn btn-primary">Search</button>
					</div>
				</div>

			</fieldset>
		}

		<h1>Search Results</h1>
		<table>
			@foreach (var item in Model.Vehicles)
			{
				<!-- TODO: Change all Model. to item. , do not use Html.Display-->
				<tr>
					<td>@item.Year @item.Make, @item.Model</td>
				</tr>
				<tr>
					<td>Body Style: @item.BodyStyle</td>
					<td>Interior: @item.Interior</td>
					<td>Sale Price: @item.SalePrice.ToString()</td>
				</tr>
				<tr>
					<td>Transmission: item.Transmission</td>
					<td>Mileage: @item.Mileage.ToString()</td>
					<td>MSRP: @item.Msrp.ToString()</td>
				</tr>
				<tr>
					<td>Color: @item.Color</td>
					<td>Vin: @item.Vin</td>
					<td>@Html.ActionLink("Edit", "EditVehicle", "Admin", new { id = item.VehicleId }, new { @class = "btn btn-primary" })</td>
				</tr>
			}
		</table>
	</div>
</body>
</html>
